body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.slider-container {
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 30px;
}

.accessory {
    flex: 0 0 50%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    /* background-color: #f2f2f2;
    border: 1px solid #ddd; */
    border-radius: 12px;
}

.accessory img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.accessory button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px 50px;
    width: 100%;
}


.slider-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 0px;
}

.next-button {
    right: 0px;
}

.column.main .product-items {
    margin-left: 65px;
}

.slider-container .block-title-tabs{
    text-align: center;
}
@media (min-width: 1400px){
    .slider-container {
        max-width: 1090px;
        margin: 0 auto !important;
    }
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 768px) {
    .accessory {
        flex: 0 0 23%;
    }
    .slider-container {
        max-width: 1090px;
        margin: 20px;
    }
}

@media (max-width: 768px){

.slider-container {
    padding: 50px 30px;
}
}
